{% extends "rango/base.html" %}

{% block title_block %}Rango - Add page{% endblock %}
{% block h1_block %}Add a page to category: {{category_name}}{% endblock %}

{% block body_block %}
	{% if form %}
		<p style="color:green">{{add_success}}</p>
		<form id="page_form" method="post" action="/rango/add_page/{{category_enc_name}}/">
			{% csrf_token %}
			{% for field in form.hidden_fields %}
				{{field}}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{field.errors}}
				{{field.help_text}}
				{{field}}
				<br />
			{% endfor %}
			<button type="submit" class="btn btn-primary"/>Submit</button>
		</form>
		<p><a href="/rango/category/{{category_enc_name}}/">Back to {{category_name}} pages</a></p>
	{% else %}
		<p style="color:red">{{category_name}} is an invalid category</p>
	{% endif %}
{% endblock %}
