<!DOCTYPE html>

{% load static %}
<html>
<head>
	<title>{% block title_block %}{{base_title |default:"Rango"}}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'mybootstrap.css' %}" />
	<link rel="stylesheet" media="screen" href="{% static 'bootstrap2/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'bootstrap2/css/bootstrap-responsive.css' %}" />
	<style>{% block style_block %}{% endblock %}</style>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="/rango/">Rango homepage</a></li>
						{% if user.is_authenticated %}
							<li class="navbar-text">Logged in as: {{user.username}}</li>
							<li><a href="/rango/logout/">Logout</a></li>
						{% else %}
							<li><a href="/rango/login/">Login</a></li>
							<li><a href="/rango/register/">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--sidebar and main body -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
				</div>
			</div>
			<div class="span9">
				<h1 style="text-align:center">{% block h1_block %}{% endblock %}</h1>
				<div class="hero-unit">
					<div class="container">
						{% block body_block %}{{base_body}}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap2/js/bootstrap.min.js' %}"></script>
</body>
</html>
