<!DOCTYPE html>

{% load static %}
<html>
<head>
	<title>{% block title_block %}{{base_title |default:"Rango"}}{% endblock %}</title>
	<link rel="stylesheet" media="screen" href="{% static 'bootstrap2/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'bootstrap2/css/bootstrap-responsive.css' %}" />
	<link rel="stylesheet" href="{% static 'mybootstrap.css' %}" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<style>
	{% block style_block_def %}
		.helptext, .errorlist
		{font-size:12px;}
		.errorlist
		{color:red;}
	{% endblock %}
	</style>
	<style>{% block style_block %}{% endblock %}</style>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="{% url 'rango:index' %}">Rango homepage</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url 'rango:view_user' user.username %}">Logged in as: {{user.username}}</a></li>
							<li><a href="{% url 'rango:user_logout' %}">Logout</a></li>
						{% else %}
							<li><a href="{% url 'rango:user_login' %}">Login</a></li>
							<li><a href="{% url 'rango:register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--sidebar and main body -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul>
						<li><a href="{% url 'rango:view_all_users' %}">View registered users</a></li>
					<ul>
				</div>
			</div>
			<div class="span9">
				<h1 style="text-align:center">{% block h1_block %}{% endblock %}</h1>
				<div class="hero-unit">
					<div class="container">
						{% block body_block %}{{base_body}}{% endblock %}
					</div>
				</div>
				{% block body2_block %}{{base_body2}}{% endblock %}
			</div>
		</div>
	</div>
	
	<script src="{% static 'bootstrap2/js/bootstrap.min.js' %}"></script>
</body>
</html>
