{% extends "rango/base.html" %}

{% load static %}

{% block title_block %}Rango - {{category.name}}{% endblock %}
{% block h1_block %}{{category.name}}{% endblock %}
{% block style_block %}
.ekulm
{padding-right:20px;}
{% endblock %}

{% block body_block	%}
	<div class="container">
		<table class="span2">
			<!-- lm means leave margin -->
			<tr><td class="ekulm">Likes:</td><td id="like_count">{{category.likes}}</td></tr>
			<tr><td class="ekulm">Views:</td><td>{{category.views}}</td></tr>
		</table>
		{% if user.is_authenticated %}
			<button type="button" id="like" data-catid="{{category.id}}" class="btn btn-mini btn-primary">Like</button>
		{% endif %}
	</div>
	{% if pages %}
		<p>Pages in this category:</p>
		<ul>
			{% for p in pages %}
			<li><a href="{% url 'rango:goto_page_url' %}?page_id={{p.id}}">{{p.title}} ({{p.views}} views)</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no pages in this category</p>
	{% endif %}
	<p><a href="{% url 'rango:add_page' category_enc_name %}">Add pages to this category</a></p>
	{% if user.is_authenticated %}
		<script src="{% static 'js/rango-ajax.js' %}"></script>
	{% endif %}	
{% endblock %}
