{% extends "rango/base.html" %}

{% block title_block %}Rango - change password{% endblock %}
{% block h1_block %}Change your password{% endblock %}

{% block body_block %}
<form id="cp_form" method="POST" action="{% url 'rango:change_password' %}" class="form-signin span4" >
	{% csrf_token %}
	<p style="color:red;">{{pass_error}}</p>
	<p>
		<span>Enter new password:</span>
		<input id="pfield1" type="password" name="pass1" value="" class="input-block-level" required="required" />
	</p>
	<p>
		<span>Retype new password:</span>
		<input id="pfield2" type="password" name="pass2" value="" class="input-block-level" required="required" />
	</p>
	<button type="submit" class="btn btn-primary">Submit</button> 
</form>
{% endblock %}
