{% extends "rango/base.html" %}

{% block title_block %}Rango - edit profile{% endblock %}
{% block h1_block %}Edit your Profile{% endblock %}

{% block body_block %}
<p style="color:red;">{{reg_error}}</p>
<form id="user_form" method="POST" action="/rango/edit_profile/" enctype="multipart/form-data" class="form_signin">
	{% csrf_token %}
	{% if img_src %}
	<div><img src="{{img_src}}" alt="Profile picture" style="max-width:100px;max-height:100px;" /></div>
	{% endif %}
	<br />
	<table>
		<tr>
			<td>Email address:</td>
			<td><input type="email" name="email" value="{{user.email}}" required="required" /></td>
		</tr>
		<tr>
			<td>First Name:</td>
			<td><input type="text" name="first_name" value="{{user.first_name}}" /></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td><input type="text" name="last_name" value="{{user.last_name}}" /></td>
		</tr>
		{{upform.as_table}}
	</table>
	<button type="submit" class="btn btn-primary">Save</button>
</form>
<p><a href="/rango/change_password/">Change Password</a></p>
{% endblock %}
