{% extends "rango/base.html" %}
{% load static %}

{% block title_block %}Rango - Welcome{% endblock %}
{% block h1_block %}Welcome to Rango{% endblock %}

{% block style_block %}
.maincol
{
	display: inline-block;
	vertical-align:top;
	margin: 1em;
	text-align: left;
}
{% endblock %}

{% block body_block %}
<div style="text-align:left;">
<!--<div class="hero-unit">-->
	<img class="maincol" src="{% static 'sheriff.jpg' %}" alt="sheriff.jpg" />
	<div class="maincol">
		{% if categories %}
			<h3>Categories</h3>	
			<ul>
				{% for cat in categories %}
				<li><a href="{% url 'rango:category' cat.enc_name %}">{{cat.name}}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>There are no categories to display</p>
		{% endif %}
		<p><a href="{% url 'rango:add_category' %}">Add a category</a></p>
	</div>
</div>
{% endblock %}
