{% extends "rango/base.html" %}
{% block title_block %}Rango - Login{% endblock %}
{% block h1_block %}Login to Rango{% endblock %}

{% block body_block %}
<p style="color:red">{{login_error}}</p>
<form id="login_form" method="POST" action="{% url 'rango:user_login' %}" class="form-signin span4">
	{% csrf_token %}
	Username:
	<input type="text" name="username" class="input-block-level" />
	<br />
	Password:
	<input type="password" name="password" class="input-block-level" />
	<br />
	<button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}
