{% extends "rango/base.html" %}

{% block title_block %}Rango - Register{% endblock %}
{% block h1_block %}Register at Rango{% endblock %}

{% block body_block %}
	<p style="color:green">{{reg_success}}</p>
	<p style="color:red">{{reg_error}}</p>
	<form id="register_form" method="POST" action="{% url 'rango:register' %}" enctype="multipart/form-data" class="form-signin span8">
		{% csrf_token %}
		<table>
			{{uform.as_table}}
			{{upform.as_table}}
		</table>
		<button type="submit" class="btn btn-primary"/>Register</button>
	</form>
{% endblock %}
